:root {
    --logo_font: changa One;
    --logo_color1: rgb(143, 0, 143);
    --logo_color2: rgb(255, 215, 0);
    --modal_back: rgba(3, 22, 2, 0.5);
    --body_color: rgb(67, 0, 114);
    --backg_color: #0d0216;
    --shadow:rgba(0, 0, 0, 0.8);
    --main_text: Inria Sans;
    --aditional_text: nunito;
    --games_back: rgba(0,0,0,0.2)
}

.logo {
    font-family: changa One;
    color: var(--logo_color1);
    letter-spacing: 1px;
    font-size: 40px;
    margin-left: 2%;
}

.logo strong {
    color: var(--logo_color2);
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--modal_back);
    z-index: 100;
    
}

.backdrop2 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(85, 166, 91, 0.568);
    z-index: 100;
}

.backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 800px;
    min-height: 300px;
    padding: 14px;
    background-color: var(--body_color);
    border-radius: 8px;
    box-shadow: 0 4px 24px black;
    color: var(--aditional_text);

}

body {
    background-image: linear-gradient(var(--backg_color ),var(--body_color),var(--body_color), var(--backg_color));
    margin: 0 auto;
    min-height: 2000px;
    
}

header {
    display: flex;
    position: sticky;
    background-color: var(--backg_color);
    margin: 0 auto;
    z-index: 10;
    top: 0;
    height: 85px    ;
}

nav a {
    text-decoration: none;
    color: var(--logo_color2);
    font-family:var(--aditional_text) ;
    font-size: 25px;
    margin-left: 40px;
    
}
nav{
    margin: 0 auto;
    align-self: center;
}
.pfp{
    margin: 25px;
    width: 35px;
}
.hero{
    font-size: 45px;
    color: var(--logo_color2);
    margin-left: 45px;
    margin-top: 140px;
    font-family: var(--main_text);
}
.game-card{
    transition: box-shadow;
    transition-timing-function: ease-out;
    margin: 0 auto  ;
}

.game-card:hover{
    transform: translateY(-6px);
    box-shadow: 1px 2px 2px 1px var(--shadow) ;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.game-img{
    display: flex;
    width: 318px;
    height: 489px;
    background-image: url(./img/phasmophobia.webp);
    
}
.but{
    z-index: 10;
    position: absolute;
    transform: translate(110px, 900%);
    background-color: var(--body_color);
    color: var(--logo_color2);
    border:  1px var(--logo_color2) solid;
    font-family: var(--main_text);
    border-radius: 20px;
    width: 100px;
    height: 25px;
    opacity: 0;
    transition: opacity;
    transition-duration: 250ms;
    transition-delay: 100ms;
    transition-timing-function: ease-out;
}
.game-img:hover .but{
    opacity: 1;
}
.game-name,.game-price{
    color: var(--logo_color2);
    font-family: var(--aditional_text);
}
.horor {
    border-radius: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    background-color: var(--games_back);
}

.genre{
    
    font-size: 45px;
    color: var(--logo_color2);
    margin-left: 45px;
    margin-top: 140px;
    font-family: var(--main_text);
}
.game-backg{
    
    padding: 15px;
}
footer{
    margin-top: 150px;
    background-color: var(--backg_color);
    height: 300px;
}